body {
    color: #333;
    background-color: #e8e8e8;
    line-height: 1.5;
}

.navbar {
    background-color: #ffffff;
    height: 40px;
    width: 100%;
}

.mb10 {
    margin-bottom: 10px;
}

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    height: auto;
}

.navbar .mnav {
    display: inline-block;
    padding: 5px 20px;
    line-height: 30px;
    height: 30px;
    color: #747d87;
}

.search {
    padding: 30px 10px;
}

.auto {
    margin-left: auto;
    margin-right: auto;
}

.search-left {
    border: solid #c6cede;
    height: 38px;
    border-width: 1px 0px 1px 1px;
    border-image: none;
    background: #FFF;
    vertical-align: top;
    overflow: hidden;
    position: relative;
}

.search-left,
.search-right {
    display: inline-block;
    font: 16px arial;
    margin: 0;
    zoom: 1;
    float: left;
}

.search-wrap {
    color: #495057;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .375rem;
    font-weight: 600;
    font-size: 0.875rem;
}

.input {
    display: block;
    width: 60%;
    height: 32px;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 95%;
}

.quickdelete {
    background: url(/assets/quickdelete.png) 7px 12px #fff no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 4px;
    display: none;
}

.search-left,
.search-right {
    display: inline-block;
    font: 16px arial;
    margin: 0;
    zoom: 1;
    float: left;
    height: auto;
}

.search-btn {
    width: 96px;
    background: #55a7e3;
    color: #fff;
    font-size: 14px;
    height: 48px;
    padding: 0px;
    border: 0px none;
}

.w442 {
    width: 40%;
}

.footer {
    text-align: center;
    background: #fff;
    border-top: 1px solid rgba(0, 40, 100, 0.12);
    font-size: 0.875rem;
    padding: 1.25rem 0;
    color: #9aa0ac;
}

button {
    cursor: pointer;
}

#result_text {
    border: 0;
    width: 100%;
}